.weather-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
}

.weather-details-main-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 10px;
}

.weather-details-icon {
  font-size: 30px;
}

.weather-details-value {
  font-size: 18px;
  margin: 0;
}

.weather-details-value.larger {
  font-size: 35px;
}

.weather-details-label {
  font-size: 12px;
  margin: 0;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .weather-details-icon {
    font-size: 28px;
  }

  .weather-details-value {
    font-size: 17px;
  }

  .weather-details-value.larger {
    font-size: 30px;
  }
}

@media (max-width: 1020px) {
  .weather-details-label {
    font-size: 11px;
  }

  .weather-details-icon {
    font-size: 25px;
  }

  .weather-details-value {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .weather-details-value.larger {
    font-size: 24px;
  }
}

@media (max-width: 900px) and (min-width: 701px) {
  .weather-details-label {
    font-size: 10px;
  }

  .weather-details-icon {
    font-size: 20px;
  }

  .weather-details-value {
    font-size: 15px;
  }
}

@media (max-width: 700px) and (min-width: 501px) {
  .weather-details-container {
    row-gap: 4px;
  }

  .weather-details-icon {
    font-size: 22px;
  }
}

@media (max-width: 570px) {
  .weather-details-value.larger {
    font-size: 22px;
  }
}

@media (max-width: 430px) {
  .weather-details-label {
    font-size: 10px;
  }

  .weather-details-main-content {
    column-gap: 5px;
  }

  .weather-details-icon {
    font-size: 20px;
  }

  .weather-details-value {
    font-size: 14px;
  }

  .weather-details-value.larger {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .weather-details-label {
    font-size: 9px;
  }

  .weather-details-icon {
    font-size: 18px;
  }

  .weather-details-value {
    font-size: 13px;
  }

  .weather-details-value.larger {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .weather-details-label {
    font-size: 2.5vw;
  }

  .weather-details-value {
    font-size: 3.3vw;
  }
}

@media (max-width: 300px) {
  .weather-details-label {
    font-size: 7.5px;
  }

  .weather-details-value {
    font-size: 10px;
  }
}