:root {
  --margin-width: 50px;
  --custom-grey: #eae9e9;
  --main-green: #327027;
  --darker-green: #1b3d15;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: var(--custom-grey);
  font-family: "Open Sans", sans-serif;
}

#app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  width: 100%;
  height: 100%;
  color: var(--custom-grey);
  background-color: var(--main-green);
  border-bottom: 5px var(--darker-green) solid;
}

#header-content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: var(--margin-width);
}

#header-content #skateboard {
  width: 20vw;
  height: 6vw;
}

#berlin-letters {
  margin: 0 0 10px -10px;
  width: 45vw;
  line-height: 8.59vw;
  font-size: 12vw;
  font-weight: 800;
  background: url("img/east-side-gallery.jpeg") no-repeat;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  z-index: 10;
  user-select: none;
}

#skate-letters {
  margin-left: 0.4vw;
}

#weather-component {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: space-between; */
  margin-right: 5px;
}

#weather-icon {
  height: auto;
  width: 8vw;
}

#temperature {
  font-size: 2.2vw;
  margin: 0 0 1rem;
}

#weather-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#weather-text p {
  margin: 0;
  text-align: right;
  font-size: 1.8vw;
}

#map-container {
  width: calc(100vw - calc(var(--margin-width) * 2));
  height: calc(100vh - calc(var(--margin-width) * 2));
  margin: var(--margin-width) 0;
}

#info-window {
  background-color: var(--main-green);
  color: var(--custom-grey);
  text-align: center;
  border-radius: 8px;
  padding: 1.5vh 12px;
  width: 30vw;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 1.5vh;
}

#info-window-name {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
}

#info-window-description {
  font-size: 18px;
  margin: 1vh 0;
}

#info-window-img {
  width: 100%;
  height: auto;
}

#info-window-address {
  font-size: 16px;
  background-color: var(--darker-green);
  padding: 8px 12px;
  border-radius: 6px;
  color: var(--custom-grey);
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

#info-window-address:hover {
  box-shadow: 0 0 5px white;
  color: white;
}

@media (min-width: 1800px) {
  #weather-icon {
    width: 130px;
  }

  #temperature {
    font-size: 45px;
  }

  #weather-text p {
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  :root {
    --margin-width: 30px;
  }
}

@media (max-width: 700px) {
  /* #weather-icon {
    width: 55px;
  }

  #temperature {
    font-size: 17px;
  }

  #weather-text p {
    font-size: 13px;
  } */

  #info-window-name {
    font-size: 14px;
  }

  #info-window-description {
    font-size: 10px;
  }

  #info-window-address {
    font-size: 10px;
  }
}