body {
  margin: 0 auto;
  background-color: #eae9e9;
  font-family: "Open Sans", sans-serif;
}

#app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#weather-component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw 4vw 4vw 0;
}

#weather-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 2vw;
  line-height: 2.5vw;
  padding-right: 1vw;
}

#weather-icon {
  height: auto;
  width: 13vw;
}

#temperature {
  font-size: 3vw;
}

#berlin-letters {
  margin: 4vw 0 4vw 4vw;
  width: 50vw;
  line-height: 8.59vw;
  font-size: 12vw;
  font-weight: 800;
  background: url("/img/east-side-gallery.jpeg") no-repeat;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  z-index: 10;
}

#skate-letters {
  margin-left: 0.4vw;
}

header {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #eae9e9;
  background-color: #327027;
  margin-bottom: 50px;
  border-bottom: 0.6vh #1b3d15 solid;
}

header #skateboard {
  width: 20vw;
  height: 6vw;
}

#footer-component {
  margin: 50px auto;
}

#info-window {
  background-color: #327027;
  color: #eae9e9;
  padding: 1vw;
  width: 30vw;
  transition: 0.5s;
}

#info-window.larger {
  width: 45vw;
  /* height: auto; */
  transition: 0.5s;
}

#info-window-name {
  font-size: 2.2vw;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2vh;
}

#info-window-description {
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 2vh;
}

#info-window-img {
  width: 30vw;
}

#info-window-img img:hover {
  cursor: pointer;
}

#info-window-img img {
  object-fit: cover;
  width: 30vw;
  transition: 0.5s;
  margin-bottom: 2vh;
}

#info-window-img img.larger {
  width: 45vw;
  height: auto;
  transition: 0.5s;
}

#info-window-address-directions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info-window-address {
  padding: 0.3vw;
  margin-bottom: 2vh;
  font-size: 1.3vw;
  font-style: italic;
  text-align: center;
  color: lightgrey;
}

#info-window-directions {
  color: #1b3d15;
  background-color: #eae9e9;
  padding: 0.3vw;
  border: 1px black solid;
  border-radius: 5px;
  font-size: 1.5vw;
}

#info-window-directions:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 0.5vw black;
}

@media (max-width: 700px) {
  #info-window-name {
    font-size: 14px;
  }
  #info-window-description {
    font-size: 10px;
  }
  #info-window-address {
    font-size: 10px;
  }
  #info-window-directions {
    font-size: 10px;
  }
  #info-window-directions:hover {
    box-shadow: 0 0 1vw black;;
  }
}