:root {
  --margin-width: 50px;
  --content-width: calc(100vw - calc(var(--margin-width) * 2));
  --max-content-width: 2000px;
  --custom-grey: #eae9e9;
  --main-green: #327027;
  --darker-green: #1b3d15;
  --panel-background-color: rgba(75, 84, 138, 0.75);
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: var(--custom-grey);
  font-family: "Open Sans", sans-serif;
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 100%;
  color: var(--custom-grey);
  background-color: var(--main-green);
  border-bottom: 5px var(--darker-green) solid;
}

#header-content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 380px;
  width: var(--content-width);
  max-width: var(--max-content-width);
  margin: var(--margin-width) auto;
}

#logo {
  margin: -5px 0 0 -5px;
  font-size: 170px;
  line-height: 125px;
  font-weight: 800;
  background: url("img/east-side-gallery.jpg") no-repeat;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  z-index: 10;
  user-select: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#skate-letters {
  padding-left: 5px;
}

#weather-panel {
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid var(--darker-green);
  background-color: var(--panel-background-color);
  padding: 0 15px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 450px;
  user-select: none;
}

#weather-panel-top-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#weather-icon {
  height: 100%;
  width: auto;
}

#temperature-container {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#temperature-container * {
  margin: 0;
}

#temperature-now {
  font-size: 40px;
}

#temperature-range {
  display: flex;
  align-items: center;
}

#temperature-range p {
  font-size: 12.5px;
  opacity: 0.5;
}

#temperature-range-divider {
  display: inline-block;
  height: 15px;
  width: 1px;
  margin: 0 7px;
  background-color: grey;
}

#weather-panel-details-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.weather-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
}

.weather-details-main-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 10px;
}

.weather-details-icon {
  font-size: 30px;
}

.weather-details-value {
  font-size: 18px;
  margin: 0;
}

.weather-details-value.larger {
  font-size: 35px;
}

.weather-details-label {
  font-size: 12px;
  margin: 0;
  opacity: 0.5;
}

#weather-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#weather-text p {
  margin: 0;
  text-align: right;
  font-size: 1.8vw;
}

#daylight-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#daylight-countdown {
  font-size: 35px;
}

#daylight-label {
  font-size: 13px;
  opacity: 0.5;
  margin: 0;
}

#spinner-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#google-map {
  height: calc(100vh - calc(var(--margin-width) * 2));
  width: var(--content-width);
  max-width: var(--max-content-width);
  margin: var(--margin-width);
  border: 5px #6e769e solid;
  box-sizing: border-box;
}

#info-window {
  background-color: var(--main-green);
  color: var(--custom-grey);
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  width: 450px;
  max-width: 45vw;
}

#info-window-name {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 3px 0 15px;
}

#info-window-description {
  font-size: 18px;
  padding: 8px 0;
}

#info-window-img {
  width: 100%;
  height: auto;
}

#info-window-address {
  font-size: 16px;
  background-color: var(--darker-green);
  padding: 10px 15px;
  margin: 12px 0;
  border-radius: 6px;
  color: var(--custom-grey);
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

@media (hover: hover) {
  #info-window-address:hover {
    box-shadow: 0 0 5px white;
    color: white;
  }
}

@media (max-width: 1200px) {
  :root {
    --margin-width: 30px;
  }

  #header-content {
    height: 330px;
  }

  #logo {
    margin: 0 0 0 -5px;
    font-size: 150px;
    line-height: 110px;
  }

  #weather-panel {
    width: 400px;
  }

  #temperature-now {
    font-size: 30px;
  }

  .weather-details-icon {
    font-size: 28px;
  }

  .weather-details-value {
    font-size: 17px;
  }

  .weather-details-value.larger {
    font-size: 30px;
  }
}

@media (max-width: 1020px) {
  :root {
    --margin-width: 25px;
  }

  #header-content {
    height: 280px;
  }

  #logo {
    font-size: 125px;
    line-height: 93px;
  }

  #weather-panel {
    width: 380px;
  }

  #temperature-now {
    font-size: 28px;
  }

  #temperature-range p,
  .weather-details-label {
    font-size: 11px;
  }

  .weather-details-icon {
    font-size: 25px;
  }

  .weather-details-value {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  :root {
    --margin-width: 20px;
  }

  #header-content {
    flex-direction: column;
    gap: calc(var(--margin-width) * 2);
    height: 100%;
  }

  #weather-panel {
    width: calc(100vw - (2 * var(--margin-width)));
  }

  .weather-details-value.larger {
    font-size: 24px;
  }

  #info-window-name {
    font-size: 25px;
  }

  #info-window-description {
    font-size: 16px;
  }

  #info-window-address {
    font-size: 15px;
  }
}

@media (max-width: 900px) and (min-width: 701px) {
  #weather-panel {
    grid-template-rows: 90px;
    grid-template-columns: 1fr 2fr 0.9fr;
    padding: 0;
  }

  #weather-panel-top-row {
    justify-content: space-evenly;
    margin-right: 10px;
  }

  #weather-panel-details-row {
    column-gap: 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.6);
    border-right: 1px solid rgba(0, 0, 0, 0.6);
    border-top: none;
    border-bottom: none;
    padding: 0 10px;
  }

  #weather-icon {
    height: 80px;
  }

  #temperature-container {
    row-gap: 5px;
  }

  #temperature-now {
    font-size: 24px;
  }

  .weather-details-label {
    font-size: 10px;
  }

  .weather-details-icon {
    font-size: 20px;
  }

  .weather-details-value {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  #google-map {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  header {
    border: none;
  }

  #header-content {
    margin-bottom: calc(var(--margin-width) * 2);
  }

  #info-window-name {
    font-size: 22px;
    letter-spacing: 1.5px;
    margin: 0 0 12px;
  }

  #info-window-description {
    font-size: 14px;
    padding: 6px 0;
  }

  #info-window-address {
    font-size: 13px;
    padding: 6px 10px;
    margin: 8px 0 4px;
  }
}

@media (max-width: 700px) and (min-width: 501px) {
  #weather-panel {
    grid-template-rows: repeat(2, 90px);
    grid-template-columns: 2fr 1fr;
  }

  #weather-panel-details-row {
    order: 3;
    grid-column: span 2;
    column-gap: 0;
    border-bottom: none;
  }

  #daylight-container {
    order: 2
  }

  .weather-details-container {
    row-gap: 4px;
  }

  .weather-details-icon {
    font-size: 22px;
  }
}

@media (max-width: 570px) {
  .weather-details-value.larger {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  #logo {
    font-size: 22vw;
    line-height: 16.4vw;
  }

  #weather-panel {
    height: 280px;
  }

  #weather-panel-top-row {
    justify-content: space-evenly;
  }

  #weather-icon {
    height: 80px;
  }
}

@media (max-width: 430px) {
  #weather-panel {
    height: 250px;
  }

  #weather-icon {
    height: 60px;
  }

  #temperature-now {
    font-size: 22px;
  }

  #temperature-range p,
  .weather-details-label {
    font-size: 10px;
  }

  .weather-details-main-content {
    column-gap: 5px;
  }

  .weather-details-icon {
    font-size: 20px;
  }

  .weather-details-value {
    font-size: 14px;
  }

  .weather-details-value.larger {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .weather-details-label {
    font-size: 9px;
  }

  .weather-details-icon {
    font-size: 18px;
  }

  .weather-details-value {
    font-size: 13px;
  }

  .weather-details-value.larger {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  :root {
    --margin-width: 15px;
  }

  #logo {
    font-size: 77px;
    line-height: 58px;
  }

  .weather-details-label {
    font-size: 2.5vw;
  }

  .weather-details-value {
    font-size: 3.3vw;
  }
}

@media (max-width: 300px) {

  header {
    overflow-x: hidden;
  }

  #weather-panel {
    width: 270px;
  }

  .weather-details-label {
    font-size: 7.5px;
  }

  .weather-details-value {
    font-size: 10px;
  }
}